@font-face {
  font-family: "JetBrainsMono";
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
:root {
  --color-primary-black: hsl(255, 22%, 4%);
  --color-primary: hsl(247, 11%, 15%);
  --color-secodary: hsl(251, 9%, 53%);
  --color-tertiary-green: hsl(127, 100%, 82%);

  --color-light-white: hsl(252, 11%, 91%);
  --color-gray: (252, 11%, 91%);
}
html {
  font-size: 62.5%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'JetBrainsMono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: var(--color-primary-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100vh;
  width: clamp(36rem, 40vw, 52rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  color: var(--color-secodary);
  font-size: 1.6rem;
  font-weight: 700;
}

/* Password */
.password-field {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-light-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
}


.password-text {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-light-white);
  width: 100%;
}
.password-text:empty:not(:focus):before {
  content: attr(data-text);
  color: hsla(252, 11%, 91%, .25);
  font-size: 2.4rem;
  font-weight: 700;
}

.copy-state {
  font-size: 1.8rem;
  color: var(--color-tertiary-green);
  margin-right: 1.6rem;
}
.copy-icon:hover {
  cursor: pointer;
  filter: brightness(10);
}
.copy-icon:hover,
.copy-icon:focus {
  cursor: pointer;
  
}
@media screen and (min-width: 768px) {
  
  .title {
    font-size: 2.4rem;
  }
  .password-field {
    padding: 2rem 3.2rem;
  }
  .password-text {
    font-size: 3.2rem;
  }
}

/* Password types */
.password-type {
  font-size: 1.6rem;
  background-color: var(--color-primary);
  color: var(--color-light-white);
  width: 100%;
  padding: 1.6rem;
}

.length {
  display: grid;
  grid-template: 3rem 1rem / 1fr 4rem;
  align-items: center;
  row-gap: 2rem;
}

.label {
  font-size: 1.6rem;
}
.number {
  color: var(--color-tertiary-green);
  font-size: 2.4rem;
  font-weight: 700;
  justify-self: end;
}
.slider-range {
  width: 100%;
  grid-column: 1/ -1;
  /* appearance */
  -webkit-appearance: none;
  height: .8rem;
  background-color: var(--color-primary-black);
}
.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  /* box-shadow: inset .1rem .1rem rgba(0, 0, 0, .2); */
  background-color: var(--color-light-white);
  cursor: pointer;

}
.slider-range::-webkit-slider-thumb:hover {
  border: 2px solid var(--color-tertiary-green);
  background-color: var(--color-primary-black);
}

@media screen and (min-width: 768px) {
  .password-type {
    font-size: 1.8rem;
    padding: 2.4rem 3.2rem;
  }
  .number {
    font-size: 3.2rem;
  }
}

/* checkboxes */
.checkboxes {
  padding-block: 3rem;
}
label {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.6rem;
}
.input-control {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 2rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  width: 2rem;
  height: 2rem;
  border: 2px solid #d8d8d8;
  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type="checkbox"]:hover {
  border-color:hsl(127, 100%, 82%);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #000;
}
input[type="checkbox"]:checked {
  border-color: var(--color-tertiary-green);
  background-color: var(--color-tertiary-green);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.password-strength {
  background-color: var(--color-primary-black);
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 1.7rem;
  margin-bottom: 1.6rem;
}
.strength-title {
  color: var(--color-secodary);
}
.strength {
  /* flex-basis: 70%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.strength h4 {
  font-size: 1.8rem;
}
.box {
  display: inline-block;
  width: 1rem;
  height: 2.8rem;
  border: 2px solid var(--color-light-white);
  background-color: transparent;
}
.box + .box {
  margin-left: .8rem;
}
.btn {
  width: 100%;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding-block: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--color-tertiary-green);
  color: var(--color-primary-black);
  cursor: pointer;
}
.btn img {
  margin-left: 1rem;
}
.btn:hover {
  background-color: var(--color-primary-black);
  color: var(--color-tertiary-green);
  border-color: var(--color-tertiary-green);
}
.btn:hover img {
  filter: invert(88%) sepia(28%) saturate(557%) hue-rotate(64deg) brightness(102%) contrast(101%);
}
@media screen and (min-width: 768px) {
  .strength h4 {
    font-size: 2.4rem;
  }
  .btn {
    font-size: 1.8rem;
  }
}